.App {
  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Menubar {
  height: 100%;
  width: 60px;
  background: white;
  border-right: 0.5px solid #AAAAAA ;
}

.MenubarList
 {
  height: auto;
  padding: 0;
  width: 100%;
}

.MenubarList
 .row {
  width: 50px;
  height: 50px;
  /* background-color: cadetblue; */
  /* border: 1px solid black; */
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  border-radius: 5px;
}

.MenubarList
 .row:hover {
  cursor: pointer;
  background-color: #3b627a;
}

.MenubarList
 #active {
  background-color: #3b627a;
}

.row #icon {
  flex: 30%;
  display: grid;
  color: #AAAAAA;
  place-items: center;
}

.row #title {
  flex: 70%;
}